.body {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.section1 {
  width: 30%;
  height: 30%;
  border: 2px solid purple;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px purple;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.buttonsWraper {
  display:flex
}

#button1, #button2 {
  width: 50%;
  background-color: rgb(145, 84, 145);
  color: white;
  border: none;
  border-radius: 9px;
  padding: 5px;
  margin: 5px;;
}

#button3 {
  border: none;
  border-radius: 9px;
  background-color: rgb(123, 70, 123);
  color:white;
  padding: 5px;
}

@media (max-width: 1199px) {
  #button1, #button2 {
  width: 100%;
 }
}